body {
	font-family: Verdana, Arial;
	font-size: 16px;
}

h2 {
	text-decoration: underline;
}

.tweets p {
	font-size: 12px;
	line-height: 20px;
	border: 1px solid #999;
	border-radius: 10px;
	padding: 5px;
	width: 600px;
}